.hero
    // border: 1px solid red
    text-align: center
    color: var(--DarkBlue)
    &__information
        &-h1
            margin-top: 0
        &-p
            color: var(--DarkGrayishBlue)
        &-button
            background-color: var(--BrightRed)
            color: var(--VaryLightGray)
            border-style: none
            border-radius: 20px
            font-size: .6em
            padding: 18px 32px 16px
            cursor: pointer
