@import url(./normalize.css);
.header {
  height: 26.3125rem;
  background-image: url(../images/bg-tablet-pattern.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top -2.5rem right -2.5rem; }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    margin: 0 1.5625rem;
    display: none;
    z-index: 999; }
  .header__logo {
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 1.4375rem;
    width: 7.1875rem;
    cursor: pointer;
    display: block; }
  .header__menu-icon {
    background-image: url(../images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.5625rem;
    height: 1.125rem;
    cursor: pointer; }
    .header__menu-icon.active {
      background-image: url(../images/icon-close.svg); }
  .header__menu-container {
    display: none;
    text-align: center;
    background-color: var(--VaryLightGray);
    position: absolute;
    top: 4.375rem;
    margin: 0 1.5625rem;
    right: 0;
    left: 0;
    color: var(--VeryDarkblue);
    font-weight: 500;
    border-radius: 0.3125rem;
    user-select: none; }
    .header__menu-container ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    .header__menu-container a {
      text-decoration: none;
      padding: 1.125rem 0;
      display: block; }
  .header__ilustration {
    background-image: url(../images/illustration-intro.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 17.8125rem;
    margin-top: 4.5625rem; }

.hero {
  text-align: center;
  color: var(--DarkBlue); }
  .hero__information-h1 {
    margin-top: 0; }
  .hero__information-p {
    color: var(--DarkGrayishBlue); }
  .hero__information-button {
    background-color: var(--BrightRed);
    color: var(--VaryLightGray);
    border-style: none;
    border-radius: 20px;
    font-size: 0.6em;
    padding: 18px 32px 16px;
    cursor: pointer; }

.features {
  padding: 0 25px; }
  .features__iten {
    position: relative; }
    .features__iten-number {
      display: block;
      text-align: center;
      background-color: var(--BrightRed);
      color: white;
      border-radius: 25px;
      padding: 10px;
      width: 44px; }
    .features__iten-title {
      color: var(--DarkBlue);
      position: absolute;
      top: -13px;
      right: -114px;
      background-color: rgba(243, 97, 64, 0.1);
      border-radius: 25px;
      padding: 12px 40px;
      font-weight: 700;
      font-size: 0.8rem;
      width: 324px;
      margin-left: -20px; }
    .features__iten-text {
      color: var(--DarkGrayishBlue);
      font-size: 0.8em;
      line-height: 20px; }

.footer {
  text-align: center;
  background-color: var(--VeryDarkBlue); }
  .footer__simplify {
    padding: 37px;
    background-color: var(--BrightRed);
    background-image: url(../images/bg-simplify-section-mobile.svg);
    background-repeat: no-repeat;
    background-position-y: center; }
    .footer__simplify-h2 {
      color: white;
      font-size: 2.6em; }
  .footer__email {
    padding: 51px 23px;
    display: flex;
    justify-content: space-between; }
    .footer__email-text {
      min-width: 240px;
      font-size: 0.7em;
      padding: 14px;
      border-radius: 25px;
      border-style: none; }
  .footer__links {
    columns: 2; }
    .footer__links-link {
      color: white;
      padding-top: 25px;
      display: block;
      text-decoration: none; }
  .footer__social {
    padding: 52px 39px;
    display: flex;
    justify-content: space-between; }
    .footer__social-facebook, .footer__social-youtube, .footer__social-twitter, .footer__social-pinterest, .footer__social-instagram {
      width: 33px;
      height: 33px; }
  .footer__logo {
    margin-bottom: 55px; }
  .footer__copyright {
    color: var(--VeryPaleRed);
    font-size: 0.7em; }
  .footer__attribution {
    padding: 20px;
    font-size: 11px;
    text-align: center;
    color: var(--VeryPaleRed); }
    .footer__attribution a {
      color: #3e52a3; }

:root {
  --BrightRed: hsl(12, 88%, 59%);
  --DarkBlue: hsl(228, 39%, 23%);
  --DarkGrayishBlue: hsl(227, 12%, 61%);
  --VeryDarkBlue: hsl(233, 12%, 13%);
  --VeryPaleRed: hsl(13, 100%, 96%);
  --VaryLightGray: hsl(0, 0%, 98%); }
  :root body {
    font-family: "Be Vietnam", sans-serif;
    font-size: 16px; }

.wrapper {
  padding: 40px 25px; }
  .wrapper__main {
    padding: 0 25px; }

.show {
  display: none; }

.u-btn {
  background-color: var(--BrightRed);
  color: var(--VaryLightGray);
  border-style: none;
  border-radius: 20px;
  font-size: 0.6em;
  padding: 18px 32px 16px;
  cursor: pointer; }
  .u-btn.footer {
    background-color: white;
    color: var(--BrightRed);
    font-weight: 700; }
  .u-btn.email {
    min-width: 80px;
    text-transform: uppercase;
    font-weight: 700; }

/*# sourceMappingURL=main.css.map */
